<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>ToDo Application</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Welcome to ToDo Application!</div>
        <img th:src="@{/images/image.jpg}" />
        <form>
            <input type="text" name="todo" maxlength="140"/>
            <button type="submit">Create todo</button>    
        </form>
        <ul>
            <li>TODO 1</li>
            <li>TODO 2</li>
        </ul>
    </body>
</html>
